*{
    font-family: "Ubuntu", sans-serif;
    color: rgb(240, 58, 115);
}

body{
    background-color: white;
    overflow-x: hidden;
}

.custnav li{
    margin-right: 55px;
    font-size: 28px;
}

.headtitle{
    font-family: Monstarize;
    text-align: left;
    margin-top: 250px;
    font-size: 150px;
    color: rgb(72, 212, 255);
}

.active {
    color: rgb(240, 58, 115);
}

.navbar{
    width: 100%;
    background-color:white;
    position: fixed;
    top: 0;
    z-index: 100;
}

a{
    text-align: center;
}

.headsubtitle{
    font-family: "Monstarize";
    margin-top: 15px;
    text-align: left;
    font-size: 50px;
}


@font-face {
    font-family: Monstarize;
    src: url("Monstarize-qZ09l.ttf");
}