*{
    font-family: "Ubuntu", sans-serif;
}

body{
    background-color: white;
    overflow-x: hidden;
}

.custnav li{
    margin-right: 55px;
    font-size: 28px;
}

.headtitle{
    font-family: Monstarize;
    text-align: left;
    margin-top: 250px;
    font-size: 150px;
    color: rgb(72, 212, 255);
}

.navbar{
    width: 100%;
    background-color:white;
    position: fixed;
    top: 0;
    z-index: 100;
}

a{
    text-align: center;
}

.headsubtitle{
    font-family: "Monstarize";
    margin-top: 15px;
    text-align: left;
    font-size: 50px;
    color: rgb(240, 58, 115);
    margin-bottom: 25px;
}

@font-face {
    font-family: Monstarize;
    src: url("Monstarize-qZ09l.ttf");
}

.shoplink {
    font-size: 20px;
    font-family: Monstarize;
    color: rgb(72, 212, 255);
    text-decoration: none;
}
.shoplink:hover {
    color: rgb(37, 117, 141);
}
@media (max-width: 768px) {
    .container{
        margin-right: auto;
        margin-left: auto;
    }
    .navbar{
        height: 200px;
    }
    .headtitle{
        font-size: 50px;
        text-align: center;
    }
    .sticky1{
        margin: auto;
        margin-left: 30%;
        display: block;
    }
    .container-fluid{
        position: relative;
        top: -120px;
    }
    .navbar-toggler{
        margin-top: 3%;
        margin-right: 70%;
        
    }
    .navbar-nav{
        margin-top: .1%;
        margin-right: 74%;
        border: 2px solid black;
        background-color: rgb(255, 255, 255);
        padding-left: 20px;
        border-radius: 0px 20px 20px 20px;
        
    }
    .headsubtitle{
        text-align: center;
    }
    .shoplink{
        margin: auto;
        display: block;
    }
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 200px;
    text-align: right;
    z-index: 3000;
    box-shadow:0 .7px 2px 2px rgba(0, 0, 0, 0.092);
}

.sidenav .isA {
    margin-top: 68px;
    width: 50px;
    height: 50px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    transition: transform .2s;
    color: rgb(240, 58, 115);
    display: block;
    transition: 0.3s;
}

.sidenav .isA:hover {
    color: rgb(192, 32, 83);
    transition: transform .2s;
    transition: .2s;
    transform: scale(1.03);
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 36px;
}

.navib {
    font-size: 30px;
    cursor: pointer
}

.navib {
    font-size: 40px;
}


.productImg {
    box-shadow:0 1px 3px 3px rgba(0,0,0,.6);
    margin-left: 25px;
    margin-top: 1px;
    width: 70px;
    float: left;
  
}

.containerProducts {
    padding: 0px;
    color: rgb(72, 212, 255);
    text-align: center;
}
.notA{
    position: absolute;
    margin-left: 20px;
    border-radius: 20px;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    background-color: rgb(240, 58, 115);
    color: white;
    
}
.name {
    font-size: 25px;
}
#bottom_menu {
    width: 200px;
    height: 65px;
    margin: 0;
    margin-top: 50px;
    position: relative;
    text-align: center;
}

#top_menu {
    height: 90%;
}
