img{
    border-radius: 30px;
}

@font-face {
    font-family: Monstarize;
  
    src: url("Monstarize-qZ09l.ttf");
  }
.prodname{
    font-family: Monstarize;
    text-align: center;
    font-size: 30px;
}
.buybutton {
    font-family: Monstarize;
    background-image: linear-gradient(to right, #81459b, #9f459c, #81459b);
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 30px;
}
.buybutton a{
    font-family: Monstarize;
    font-size: 30px;
}

.buybutton1 a{
    font-family: Monstarize;
    font-size: 30px;
}

.buybutton2 a{
    font-family: Monstarize;
    font-size: 30px;
}
.buybutton1 {
    font-family: Monstarize;
    background-image: linear-gradient(to right, #175bc8, #3193dc, #175bc8);
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 30px;
}

.buybutton2 {
    font-family: Monstarize;
    background-image: linear-gradient(to right, #ffd900, #f5fe95, #ffd900);
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 30px;
}

.headtitleshop {
    font-family: Monstarize;
    font-size: 85px;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
* {
    font-family: arial;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 200px;
    text-align: right;
    z-index: 3000;
}

.sidenav a {
    margin-top: 68px;
    width: 50px;
    height: 50px;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    transition: transform .2s;
    color: rgb(240, 58, 115);
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: rgb(192, 32, 83);
    transition: transform .2s;
    transition: .2s;
    transform: scale(1.03);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 36px;
}

.navib {
    font-size: 30px;
    cursor: pointer
}

.navib {
    font-size: 40px;
}


.productImg {
    box-shadow:0 1px 3px 3px rgba(0,0,0,.6);
    margin-left: 25px;
    margin-top: 2px;
    width: 70px;
    float: left;
  
}

.containerProducts {
    padding: 0px;
    color: rgb(72, 212, 255);
    text-align: center;
}

.name {
    font-size: 25px;
}

#bottom_menu {
    margin: 0;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#top_menu {
    height: 90%;
}

a{
    color:rgb(72, 212, 255);
    text-decoration: none;
}
a:hover{
    color:grey;
}
.addBasket{
    cursor: pointer;
}
.addBasket:hover{
    color:grey;
}
