

@font-face {
    font-family: Monstarize;
  
    src: url("Monstarize-qZ09l.ttf");
  }
.prodname{
    font-family: Monstarize;
    text-align: center;
    font-size: 30px;
}
.buybutton {
    font-family: Monstarize;
    background-image: linear-gradient(to right, #81459b, #9f459c, #81459b);
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 30px;
}
.buybutton a{
    font-family: Monstarize;
    font-size: 30px;
}

.buybutton1 a{
    font-family: Monstarize;
    font-size: 30px;
}

.buybutton2 a{
    font-family: Monstarize;
    font-size: 30px;
}
.buybutton1 {
    font-family: Monstarize;
    background-image: linear-gradient(to right, #175bc8, #3193dc, #175bc8);
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 30px;
}

.buybutton2 {
    font-family: Monstarize;
    background-image: linear-gradient(to right, #ffd900, #f5fe95, #ffd900);
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 30px;
}

.headtitleshop {
    font-family: Monstarize;
    font-size: 85px;
}





