body {
    text-align: center;
    margin: 0px;
    font-family: arial;
}

#place {
    -webkit-appearance: none;
}

#place {
    width: 20px;
    height: 20px;
    background-color: #000;
    margin: 0.5vw;
    cursor: pointer;
    position: absolute;
}

#place:disabled {
    cursor: not-allowed;
    background-color: rgb(151, 151, 151);
}

#place:checked {
    background-color: white;
    border: solid;
    border-color: #c72f2f;
}

table {
    margin-left: auto;
    margin-right: auto;
}


input[type="text"],
input[type="tel"],
input[type="email"] {
    padding: 10 20px;
    width: 60vw;
    background-color: rgb(255, 255, 255);
    border: solid;
    border-color: #c72f2f;
}
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus{
    outline:none;
    background-color: #e0e0e0;
}

#submit_button {
    padding: 5 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(226, 225, 225);
    border: solid;
    font-size: 16px;
    border-color: #c72f2f;
    cursor: pointer;
    transition: opacity .2s;
}

#submit_button:hover {
    opacity: 0.7;
    transition: opacity .2s;
}

.r_1 {
    transform: rotate(0deg);
    top: 16px;
    left: 100px;
}

.r_2 {
    transform: rotate(55deg);
    bottom: 169px;
    left: 51px;
}

.r_3 {
    transform: rotate(17deg);
    top: 75px;
    left: 20px
}

.r_4 {
    transform: rotate(75deg);
    top: 125px;
    left: 20px;
}

.r_5 {
    transform: rotate(35deg);
    top: 170px;
    left: 50px;
}

.r_6 {
    transform: rotate(35deg);
    bottom: 170px;
    right: 50px;
}

.r_7 {
    transform: rotate(15deg);
    top: 125px;
    right: 20px;
}

.r_8 {
    transform: rotate(72deg);
    top: 75px;
    right: 20px;
}

.r_9 {
    transform: rotate(55deg);
    top: 170px;
    right: 50px;
}

.r_10 {
    transform: rotate(0deg);
    bottom: 16px;
    left: 100px;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 75px;
    position: absolute;
    top: 55px;
    left: 55px;
    background-color: #000;
}

.elements {
    width: 230px;
    height: 230px;
    position: absolute;
}

.elements_static {
    position: static;
    width: 100vw;
    height: 230px;
}

#el_2 {
    right: 100px;
}

#el_1 {
    left: 100px;
}

p {
    font-family: cursive;
    font-size: 40px;
    color: white;
    margin-top: 30px;
}

@media only screen and (min-width: 900px) {
    #el_2 {
        right: 150px;
    }

    #el_1 {
        left: 150px;
    }
}

@media only screen and (min-width: 1100px) {
    #el_2 {
        right: 300px;
    }

    #el_1 {
        left: 300px;
    }
}

@media only screen and (min-width: 1300px) {
    #el_2 {
        right: 400px;
    }

    #el_1 {
        left: 400px;
    }
}

titel {
    font-family: cursive;
    font-size: 50px;
}

#bühne {
    width: 60vw;
    margin-left: 20vw;
    color: rgb(88, 88, 88);
    background-color: rgba(0, 0, 0, 0.055);
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}

#price {
    position: fixed;
    bottom: 10px;
    left: 20px;
}

input[type="radio"] {
    color: black;
}

.label {
    border: solid;
    border-color: #c72f2f;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}

.container>input[type="radio"] {
    visibility: hidden;
    position: absolute;
}

.container>input[type="radio"]+.label {
    cursor: pointer;

}

.container>input[type="radio"]:checked+.label {
    background-color: #e0e0e0;

}

.label2 {
    border: solid;
    border-color: #c72f2f;
    display: inline-block;
    padding: 5px 10px;
}

.container2>input[type="radio"] {
    visibility: hidden;
}

.container2>input[type="radio"]+.label2 {
    cursor: pointer;
}

#container3 {
    display: flex;
    justify-content: center;
}


.container2>input[type="radio"]:checked+.label2 {
    background-color: #e0e0e0;

}

#zahlungsmethoden {
    width: 60vw;
    margin-left: 20vw;
}

#two {
    display: none;
}

@media only screen and (max-width: 650px) {
    #place {
        width: 10px;
        height: 10px;
        background-color: #000;
        margin: 0.25vw;
        cursor: pointer;
        position: absolute;
    }

    .r_1 {
        top: 8px;
        left: 50px;
    }

    .r_2 {
        bottom: 84.5px;
        left: 25.5px;
    }

    .r_3 {
        top: 37.5px;
        left: 10px
    }

    .r_4 {
        top: 62.5px;
        left: 10px;
    }

    .r_5 {
        top: 85px;
        left: 25px;
    }

    .r_6 {
        bottom: 85px;
        right: 25px;
    }

    .r_7 {
        top: 62.5px;
        right: 10px;
    }

    .r_8 {
        top: 37.5px;
        right: 10px;
    }

    .r_9 {
        top: 85px;
        right: 25px;
    }

    .r_10 {
        bottom: 8px;
        left: 50px;

    }

    .circle {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        top: 27.5px;
        left: 27.5px;
    }

    .elements {
        width: 115px;
        height: 115px;
    }

    .elements_static {
        position: static;
        width: 100vw;
        height: 115px;
    }

    #el_2 {
        right: 60px;
    }

    #el_1 {
        left: 60px;
    }

    p {
        font-family: cursive;
        font-size: 20px;
        color: white;
        margin-top: 15px;
    }
}

@media only screen and (min-width: 500px) {
    #el_2 {
        right: 150px;
    }

    #el_1 {
        left: 150px;
    }
}

@media only screen and (min-width: 650px) {
    #el_2 {
        right: 50px;
    }

    #el_1 {
        left: 50px;
    }
}



@media only screen and (min-width: 900px) {
    #el_2 {
        right: 150px;
    }

    #el_1 {
        left: 150px;
    }
}

@media only screen and (min-width: 1100px) {
    #el_2 {
        right: 300px;
    }

    #el_1 {
        left: 300px;
    }
}

@media only screen and (min-width: 1300px) {
    #el_2 {
        right: 400px;
    }

    #el_1 {
        left: 400px;
    }
}